{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/test-formulaire2.css">
{% endblock %}

{% block body %}
    <style>
        .form-check{
            background-color: white;
            border-radius: 10px;
            height: 3rem;
        }
    </style>
<!-- DEBUT NAV --> 
<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">
    
        <a class="navbar-brand" href="{{path('app_landing')}}"> <img src="img/logo-buddies_1.svg" alt=""> </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>
</nav>
<!-- FIN NAV -->
    <main>
        <section class="container-fluid">
            <div id="centrage-ecran" class="d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h2 class="text-center">D'après vous, quel est le meilleur moyen de briser la glace ?</h2>
                    <div class="d-flex flex-column align-items-end col-4 offset-4">
                        <div class="card-formulaire text-black w-100 py-3 px-3">
                            <div class="form-check d-flex align-items-center m-2">
                                <input class="form-check-input ms-4" type="radio" id="flexRadioDefault1">
                                <label class="form-check-label ms-4" for="defaultCheck1">
                                    Poser une question
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center m-2">
                                <input class="form-check-input ms-4" type="radio" id="flexRadioDefault1">
                                <label class="form-check-label ms-4" for="defaultCheck1">
                                    Raconter une blague
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center m-2">
                                <input class="form-check-input ms-4" type="radio" id="flexRadioDefault1">
                                <label class="form-check-label ms-4" for="defaultCheck1">
                                    Mentionner quelque chose sur mon profil
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center m-2">
                                <input class="form-check-input ms-4" type="radio" id="flexRadioDefault1">
                                <label class="form-check-label ms-4" for="defaultCheck1">
                                    Se présenter de manière simple
                                </label>
                            </div>
                              
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="{{path('app_register_step13')}}"><button class="my-4 text-black" id="btn" type="button">Retour</button></a>
                            <a href="{{path('app_register_step15')}}"><button class="my-4 ms-3 text-black" id="btn" type="button">Suivant</button></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
{% endblock %}

